<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>activated</string>
			<key>Key</key>
			<string>mapped_switch</string>
			<key>TrueValue</key>
			<string>activated</string>
			<key>FalseValue</key>
			<string>deactivated</string>
			<key>Title</key>
			<string>Mapped Switch</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>New item</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Zero</string>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Key</key>
			<string>mapped_read_only_value</string>
			<key>Title</key>
			<string>Mapped Read Only Title</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Eveen More Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Great Things</string>
			<key>Key</key>
			<string>enable_great_things</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
