<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Read Only Title</string>
			<key>DefaultValue</key>
			<string>Simple Read Only Value</string>
			<key>Key</key>
			<string>simple_read_only_value</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>EvenMoreSettings</string>
			<key>Title</key>
			<string>Even More Settings</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>More Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Slider of Cool</string>
			<key>DefaultValue</key>
			<integer>25</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>slider_cool_preference</string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Awesome</string>
			<key>Key</key>
			<string>enable_awesome</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>ShortTitles</key>
			<array>
				<string>Zero</string>
				<string>One</string>
				<string>Two</string>
				<string>Three</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Zero is a great number.</string>
				<string>But not as good as One.</string>
				<string>Two is even better.</string>
				<string>And Three is the best.</string>
			</array>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Title</key>
			<string>Short Title Multi Value</string>
			<key>Key</key>
			<string>short_title_multi_value</string>
		</dict>
	</array>
</dict>
</plist>
