<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Preferences</key>
	<array>
		<dict>
			<key>Autocapitilization Style</key>
			<string>None</string>
			<key>Default Value</key>
			<string>None</string>
			<key>Identifier</key>
			<string>environment_preference</string>
			<key>Title</key>
			<string>Environment</string>
			<key>Type</key>
			<string>Text Field</string>
		</dict>
		<dict>
			<key>Default Value</key>
			<true/>
			<key>Identifier</key>
			<string>enabled_preference</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Type</key>
			<string>Toggle Switch</string>
		</dict>
	</array>
</dict>
</plist>
